	body,html
	{
		height: 100%;
	}

	.navbar-collapse
	{
		align-items: center;
	}
	.justify-content-center
	{
		justify-content: center;
		justify-content: space-between;

	}
	.landing-section
	{
		
		background-position: center;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;

	}
	.info-heading
	{
		padding-top: 120px;
		color: white;
	}

	.features-heading
	{
		text-align: center;
	}
	.features-content
	{
		text-align: center;
	}
	.tem
	{
		padding-left: 160px;

	}
	.temp
	{
		padding-top: 40px;
		padding-left: 200px;

	}


	.soft
	{
		  background: linear-gradient(to right, #373b44, #4286f4);
	}
	.soft-heading
	{
		text-align:top-left;
		padding-top: 20px;
		color: white;
	}
	.soft-content
	{
		text-align: below-left;
		padding-top: 50px;
		color: white;
	} 
	.s-content
	{
		padding-top: 120px;
		color: white;
	}
	.icontent
	{
		 position: absolute;
         padding-top: 100px;
         padding-left: 1px;
         text-align: center;
         color: white;
         margin-left: 80px;
	}
	.econtent
	{
		 position: absolute;
         padding-top: 100px;
         text-align: center;
         color: white;
         
	}
	.tcontent
	{
		 position: absolute;
         padding-top: 100px;
         text-align: center;
         color: white;
         padding-right:200px;
         
	}
	.properties-heading
	{
		text-align: center;
		color:blue;
	}
	.p 
	{
		text-align: center;
	}
	.i
	{
		padding-top: 20px;
	}
	.ii
	{
		padding-top: 20px;
	}
	.properties
	{
		 background: linear-gradient(to right, #ece9e6, #ffffff);
	}
    
    .demo-content
    {
    	text-align: center;
    	color:white;
    	padding-top: 89px;
    }
    .partner-heading
    {
    	text-align: center;
    }
   .column {
  float: left;
  width: 12.33%;
  padding: 5px;
  padding-left: 170px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
.row-ph::after {
  content: "";
  clear: both;
  display: table;
}
   .col-4-n{
  float: left;
  width: 33.33%;
  padding: 5px;
  padding-left: 50px;
}
.section-footer {
  padding-top: 60px;
  margin-top: 60px;
  background: #f3f3f3;
}

.section-footer ul {
  line-height: 2;
}

.section-footer .item-list-a i {
  font-size: 18px;
  padding-right: 4px;
  color: #2eca6a;
}

.section-footer .widget-a .w-title-a {
  margin-bottom: 1rem;
  background:#000000;
}

footer {
  background: #f3f3f3;
  text-align: center;
  padding: 30px 0;

.section-footer {
  padding-top: 60px;
  margin-top: 60px;
  background: #f3f3f3;
}

